body {
  font-family: 'Montserrat', sans-serif;
}

.logo-pic {
  height: 64px !important;
  padding-left: 5px;
  padding-right: 15px;
}

.logo-pic-side-nav {
  padding-bottom: 25px;
  margin-left: 11px;
}

.slider .btn {
  margin-top: 20px;
}

.skewedBox {
  background: #edff57;
  padding: 0px;
  transform: skew(0deg, -5deg);
}

.text-container-skew {
  margin: 0;
  padding: 2px 2px;
  transform: skew(0deg, 5deg);
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}

#map {
  height: 100%;
}

.map-div {
  height: 438px;
}
