body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  z-index: 30 !important;
}

.nav-div {
  overflow: hidden;
  z-index: 40;
}

.logo-pic {
  height: 64px !important;
  padding-left: 5px;
  padding-right: 15px;
}

.logo-pic-side-nav {
  padding-bottom: 25px;
  margin-left: 11px;
}

.slider .btn {
  margin-top: 20px;
}

.skewedBox {
  background: #edff57;
  padding: 0px;
  transform: skew(0deg, -5deg);
}

.text-container-skew {
  margin: 0;
  padding: 2px 2px;
  transform: skew(0deg, 5deg);
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}

.survey-card {
  padding-top: 5vh;
}

#mailchimp {
  background: #f8f8f8;
  color: #c62828;
  padding: 20px 15px;
}
#mailchimp input {
  border: medium none;
  color: gray;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 300px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
#mailchimp input.email {
  background: #fff;
}
#mailchimp input.name {
  background: #fff;
}
#mailchimp input[type='submit'] {
  background: #c62828;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  width: 75%;
  padding: 8px 0;
  margin-left: 7vw;
}
#mailchimp input[type='submit']:hover {
  color: black;
}

input.button {
  padding-left: 25px !important;
}

#map {
  height: 100%;
}

.map-div {
  height: 438px;
}
